@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
@keyframes timer-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-timer-circle {
  animation: timer-circle linear infinite;
  animation-duration: 60s;
  animation-timing-function: linear;
}

body {
  background-color: #1d1f25;
  color: gainsboro;
}

.pie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* small */
.pie2 {
  top: 3px;
  left: 3px;
  width: 194px;
  height: 194px;
  border-radius: 50%;
}

/* large */
/* .pie2 {
  top: 10px;
  left: 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
} */

input {
  color: black;
}
