@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

span {
  font-size: 12px;
  color: #9193a6;
}

.abs-center {
  top: 50%; /* Move the top of the child to 50% of the parent's height */
  left: 50%; /* Move the left of the child to 50% of the parent's width */
  transform: translate(-50%, -50%);
}

@keyframes timer-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-timer-circle {
  animation: timer-circle linear infinite;
  animation-duration: 60s;
  animation-timing-function: linear;
}

body {
  background-color: #1d1f25;
  color: gainsboro;
}

.pie {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

/* small */
.pie2 {
  /* top: 3px;
  left: 3px; */
  font-size: 26px;
  width: 244px;
  height: 244px;
  border-radius: 50%;
}

@media (min-width: 700px) and (max-width: 1110px) {
  .pie {
    width: 200px;
    height: 200px;
  }

  .pie2 {
    width: 194px;
    height: 194px;
  }
}

/* .pie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* small */
/* .pie2 {
  width: 194px;
  height: 194px;
  border-radius: 50%;
} */

/* large */
/* .pie2 {
  top: 10px;
  left: 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
} */
input[type="time"]::-webkit-calendar-picker-indicator {
  /* visibility: hidden; */
  color: white;
  filter: invert(48%) sepia(90%) saturate(3207%) hue-rotate(130deg)
    brightness(95%) contrast(80%);
}

input {
  background-color: #292e3c;
  color: gainsboro;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

select {
  padding: 5px;
  /* background-color: inherit; */
  /* border: 1px solid #292e3c; */
  border: none;
  outline: none;
}

button {
  font-size: 12px;
}

.strikethrough {
  text-decoration: line-through;
}

.add-border {
  border: 2px solid #292e3c;
}
/* 
button {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 2px;
  background-color: rgb(250, 140, 140);
} */

.bar {
  fill: aquamarine;
  /* width: 10px; */
  /* color: burlywood; */
}

.hover-text {
  color: white;
}

/* styles.css */
.axis path,
.axis line {
  display: none;
}

.domain {
  display: none;
}

.tick line {
  display: none;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 4px;
  pointer-events: none;
}

/* Styles for the Calendar component */
.react-calendar {
  width: 800px !important;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
}

.react-calendar__navigation {
  background-color: #f0f0f0;
  font-size: 20px;
  font-weight: bold;
}

.react-calendar__navigation button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  color: #333;
}

.react-calendar__navigation button:disabled {
  color: #ccc;
  cursor: default;
}

.react-calendar__tile {
  padding: 0.75rem;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.react-calendar__tile:hover {
  background-color: #f0f0f0;
}

/* Add more styles as needed */

.loading {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translateX(-50%); */
  margin: -30px 0 0 -30px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.loading div {
  width: 6px;
  height: 6px;
  background: gainsboro;
  border-radius: 100%;
  float: left;
  margin-bottom: 12px;
  animation: scaleDot 2s ease infinite;
}
.loading div:not(:nth-child(4n + 4)) {
  margin-right: 12px;
}
.loading div:nth-child(1) {
  animation-delay: 0;
}
.loading div:nth-child(2),
.loading div:nth-child(5) {
  animation-delay: 0.1s;
}
.loading div:nth-child(3),
.loading div:nth-child(6),
.loading div:nth-child(9) {
  animation-delay: 0.2s;
}
.loading div:nth-child(4),
.loading div:nth-child(7),
.loading div:nth-child(10),
.loading div:nth-child(13) {
  animation-delay: 0.3s;
}
.loading div:nth-child(8),
.loading div:nth-child(11),
.loading div:nth-child(14) {
  animation-delay: 0.4s;
}
.loading div:nth-child(12),
.loading div:nth-child(15) {
  animation-delay: 0.5s;
}
.loading div:nth-child(16) {
  animation-delay: 0.6s;
}
@-moz-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
